<header>
    <div class="header-options">
        <a href="#"><div class="header-option">Strona Główna</div></a>
        <a href="#"><div class="header-option">Wycieczki Jednioniowe</div></a>
        <a href="#"><div class="header-option">Dłuższe Wycieczki</div></a>
        <a href="#"><div class="header-option">O blogu</div></a>
    </div>
</header>
<style>
    header{
        width:700px;
        display: flex;
        justify-content: flex-end;
        height:100px;
    }
    .header-options{
        display: flex;
        justify-content: space-between;
    }
</style>