---
import Layout from '../layouts/Layout.astro';
import Header from '../header/Header.astro';
import Footer from '../footer/Footer.astro';
---

<Layout title="Child Trips">
    <Header />
    <main>
        <h1>Gdzie z Dziećmi</h1>
        <!-- Tutaj dodaj treść swojego bloga -->
    </main>
    <Footer />
</Layout>