---
import Footer from '../footer/Footer.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../header/Header.astro';
import Logo from '../components/Logo.astro';
import About from '../components/About.astro';
import Article from '../layouts/Article.astro';
---


<Layout>
	<Header>
		
	</Header>
	<Logo>

	</Logo>
	<About>
		
	</About>
	<input type="text" placeholder="Farma Iluzji etc." class="search-input" />
	<ul>
	<div class="articles-grid">
		<li>
			<Article>
				<div slot="image">
					<img src="../src/assets/farma.png" alt="Farma Iluzji" width="400"  height="300"/>
				</div>
				<div slot="header">
					<h2></h2>
				<div slot="content"></div>



				<div slot="publish-date"></div>
			
			</Article>
		</li>
		<li>
			<Article>
				<div slot="image">
					<img src="../src/assets/radziejowice.png" alt="Farma Iluzji" width="400"  height="300"/>
				</div>
				<div slot="header">
					<h2></h2>
				<div slot="content"></div>



				<div slot="publish-date"></div>
			</Article>
		</li>
		<li>
			<Article>
				<div slot="image">
					<img src="../src/assets/wola.png" alt="Farma Iluzji" width="400"  height="300"/>
				</div>
				<div slot="header">
					<h2></h2>
				<div slot="content"></div>



				<div slot="publish-date"></div>

			</Article>
		</li>
		<li>
			<Article>
				<div slot="image">
					<img src="../src/assets/farma.png" alt="Farma Iluzji" width="400"  height="300"/>
				</div>
				<div slot="header">
					<h2></h2>
				<div slot="content"></div>



				<div slot="publish-date"></div>


			</Article>
		</li>
	</div>




	</ul>
	<Footer>

	</Footer>
</Layout>
<style>
	.search-input {
		width: 100%;
		max-width: 800px;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 16px;
		margin: 20px auto;
		display: block;
	}
		.articles-grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 24px; /* odstęp między artykułami */
		}
		.articles-grid article {
			background: #fff;
			border-radius: 12px;
			box-shadow: 0 2px 8px #0001;
			padding: 16px;
		}
	ul , li{
		  list-style: none;
	}
</style>
<script>

	
	const searchInput = document.querySelector("input");
	const ul = document.querySelector("ul");
	const allLi = [...document.querySelectorAll("ul li")];

	function searchWord(e) {
		const currentWord = e.target.value.trim().toLowerCase();
		ul.innerHTML = "";
		allLi.forEach(li => {
		if (li.textContent.toLowerCase().includes(currentWord)) {
			ul.appendChild(li);
		}
		});
	}

	searchInput?.addEventListener("input", searchWord);


</script>
