---
import Footer from '../footer/Footer.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../header/Header.astro';
import Logo from '../components/Logo.astro';
import About from '../components/About.astro';
import Search from '../components/Search.astro';
import Article from '../layouts/Article.astro';
---


<Layout>
	<Header>
		
	</Header>
	<Logo>

	</Logo>
	<About>
		
	</About>
	<input type="text" placeholder="Farma Iluzji etc." class="search-input" />
	<ul>
		<li>
			<Article><div slot="content">1</div></Article>
		</li>
		<li>
			<Article><div slot="content">2</div></Article>
		</li>
		<li>
			<Article><div slot="content">34</div></Article>
		</li>
		<li>
			<Article><div slot="content">4</div></Article>
		</li>





	</ul>
	<Footer>

	</Footer>
</Layout>
<style>
	.search-input {
		width: 100%;
		max-width: 800px;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 16px;
		margin: 20px auto;
		display: block;
	}
</style>
<script>

	
	const searchInput = document.querySelector("input");
	const ul = document.querySelector("ul");
	const allLi = [...document.querySelectorAll("ul li")];

	function searchWord(e) {
		const currentWord = e.target.value.trim().toLowerCase();
		ul.innerHTML = "";
		allLi.forEach(li => {
		if (li.textContent.toLowerCase().includes(currentWord)) {
			ul.appendChild(li);
		}
		});
	}

	searchInput?.addEventListener("input", searchWord);


</script>
