<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
        <div class="about">
			<div class="content">
                <i>
			    Lubimy zwiedzać, a często mamy czas jedynie na krótki wypad. Dlatego szukamy pięknych i ciekawych miejsc w Warszawie i okolicy, które możemy zwiedzić w jeden dzień lub na weekend. Mamy dziecko, zatem wybieramy miejsca, które są ciekawe do zwiedzania zarówno dla dzieci jak i dla dorosłych. Jeśli się zastanawiasz gdzie się wybrać blisko Warszawy (z dzieckiem lub bez) to zapraszamy do przeczytania naszego blogu</i>
			</div>
		<div class="about">
<style>
    .content{
        font-family:'Lato', sans-serif;
        width: 800px;
        height:400px;
        font-size:23px;
        color:rgb(79, 79, 79);
    }
    .about{
        display: flex;
        justify-content: center;
    }
</style>
