<div>
    <div class="logo">
        <div class="logo-container">
            <hr>
                <div class="logo-text">
                Dokąd z Warszawy     
                </div>
            <hr>
                
        </div>
    </div>
</div>
<style>
    .logo-container {
        width:800px;
        height:350px;
    }
    .logo-text{
        font-size:80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:50px;
        font-weight: 500;
    }
    .logo{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top:100px;
    }
</style>