

<div style="display: flex;justify-content: center;">
            <div class="article">
                <slot name="image" class="image"/>
                <slot name="header" class="header"/>
                <slot name="content" class="content"/>
                <slot name="publish-date" class="date"/>
            </div>
</div>





<style>
    .article{
        width:460px;
        height:700px;
        font-family:'Lato', sans-serif;
    }
    .image{
        width:400px;
        height:300px;
        margin:auto;

    }
    .header{
        width:400px;
        height:50px;
        font-size: 30px;
        font-weight: 600;
        margin-left:auto;
        margin-right:auto;
    }
    .content{
        width:390px;
        margin:10px;
        margin-left:auto;
        margin-right:auto;
    }
    .publish-date{
        bottom:0;
    }
</style>