

<div class="article-container">
            <div class="article">
                <slot name="image" class="image"/>
                <div class="header">
                    <slot name="header" />
                </div>
                <div class="content" >
                    <slot name="content"/>
                </div>
                <div class="publish-date">
                    <slot name="publish-date"/>
                </div>
            </div>
</div>





<style>
    
    .article-container{
        display: flex;
        justify-content: center;
    }
    
    .article{
        width:450px;
        height:700px;
        font-family:'Lato', sans-serif;
    }
    .image{
        width:400px;
        height:300px;
        margin:auto;

    }
    .header{
        width:400px;
        font-size: 20px;
        font-weight: 600;
        color:#000;
    }
    .content{
        width:390px;
        style="font-size:19px;
        color:rgb(77, 77, 77);
        font-weight:400; 
        letter-spacing:1px;
        margin-top:30px; 
        margin-bottom:30px;
    }
    .publish-date{
        bottom:0;
    }
</style>