

<div style="display: flex;justify-content: center;">
            <div class="article">
                <slot name="image" class="image"/>
                <div class="header">
                    <slot name="header" />
                </div>
                <div class="content">
                    <slot name="content"/>
                </div>
                <div class="publish-date">
                    <slot name="publish-date"/>
                </div>
            </div>
</div>





<style>
    .article{
        width:450px;
        height:700px;
        font-family:'Lato', sans-serif;
    }
    .image{
        width:400px;
        height:300px;
        margin:auto;

    }
    .header{
        width:400px;
        height:50px;
        font-size: 20px;
        font-weight: 600;
    }
    .content{
        width:390px;
    }
    .publish-date{
        bottom:0;
    }
</style>